<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--<div><a th:text="${letter_content}"></a></div>-->
<div><a>bibibi</a></div>
<div><p><a th:href="@{/html/fuck.html}">去静态页面fuck</a></p></div>
<div><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx1e26e48b78659932&redirect_uri=http://1826551jk3.51mypc.cn/getUserBasicInfo&response_type=code&scope=snsapi_userinfo&state=status#wechat_redirect">get code button</a></div>

</body>
</html>